# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
venv/
.env/
.venv/


# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Logs
# =========================
*.log

# =========================
# Build / distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Scraping outputs
# =========================
data/


# =========================
# Temporary files
# =========================
tmp/
temp/